<%- include("partials/header-logged-in") -%> <% if (reqData) { %>
<div style="width: max-content" class="card padding">
  <form method="post">
    <p class="font-bold">Request ID: <%= reqData[0].RequestID %></p>
    <p class="font-bold">Service Type: <%= reqData[0].Service %></p>
    <p class="font-bold">Sub Service Type: <%= reqData[0].SubService %></p>
    <p class="font-bold">Request Text: <%= reqData[0].Request %></p>
    <p class="font-bold">
      The decision:
      <input
        class="col-4"
        type="text"
        name="decision"
        contenteditable="true"
        id="decision"
        style="border: none"
        value="<%= reqData.Decision %>"
      />
    </p>
    <button type="submit" class="btn col-2">Submit Changes</button>
  </form>
</div>
<% } %> <%- include("partials/footer") -%>
